---
import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import Js from "./icons/Js.astro";

import ButtonUi from "./ui/Button.astro";
import LinkIcon from "./icons/Link.astro";
import GitHubIcon from "./icons/GitHub.astro";

const TAGS = {
    HTML: {
        name: "HTML",
        color: "bg-[#e34f26]/10 text-[#ff6d45] border border-[#e34f26]/20",
        icon: Html,
    },
    CSS: {
        name: "CSS",
        color: "bg-[#1572b6]/10 text-[#30a9ff] border border-[#1572b6]/20",
        icon: Css,
    },
    JS: {
        name: "JavaScript",
        color: "bg-[#f7df1e]/10 text-[#f7df1e] border border-[#f7df1e]/20",
        icon: Js,
    },
};

const PROJECTS = [
    {
        title: "Centro Perfecta Alegría - Desarrollo Psicoemocional Integral",
        description:
            "Landing page diseñada para optimizar la presencia digital del centro de salud mental. Enfocada en la experiencia de usuario, con una arquitectura de información clara para facilitar el contacto de los pacientes.",
        link: "https://carlodaniel-dev.github.io/centro-perfectaAlegria/",
        github: "https://github.com/carlodaniel-dev/centro-perfectaAlegria",
        image: "/projects/perfectAlegria.webp",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JS],
    },
];
---

<div class="max-w-5xl flex flex-col gap-y-16">
    {
        PROJECTS.map(({ image, title, description, tags, link, github }) => (
            <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                <div class="w-full md:w-1/2">
                    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                        <img
                            alt={`Captura de pantalla del proyecto ${title}`}
                            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                            loading="lazy"
                            src={image}
                        />
                    </div>
                </div>

                <div class="w-full md:w-1/2 md:max-w-lg">
                    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                        {title}
                    </h3>
                    <div class="flex flex-wrap mt-2">
                        <ul class="flex flex-row mb-2 gap-x-2">
                            {tags.map((tag) => (
                                <li>
                                    <span
                                        class={`flex gap-x-2 rounded-full text-xs ${tag.color} py-1 px-2 `}
                                    >
                                        <tag.icon class="size-4" />
                                        {tag.name}
                                    </span>
                                </li>
                            ))}
                        </ul>

                        <div class="max-w-sm mt-2 text-gray-700 dark:text-gray-400">
                            {description}
                        </div>

                        <footer class="flex items-end justify-start mt-4 gap-x-4">
                            {github && (
                                <ButtonUi href={github}>
                                    <GitHubIcon class="size-6" />
                                    Code
                                </ButtonUi>
                            )}
                            {link && (
                                <ButtonUi href={link}>
                                    <LinkIcon class="size-4" />
                                    Preview
                                </ButtonUi>
                            )}
                        </footer>
                    </div>
                </div>
            </article>
        ))
    }
</div>
